
form
{
    width: 25%;
    max-width: 750px;
    padding: 5rem;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    place-self: center;
    margin-bottom: 20rem;
    border-radius: 2rem;
    box-shadow: 0rem 1rem 5rem 0 #000;
}

h3
{
    font-size: 2rem;
    margin-bottom: 2rem;
}

input
{
    font-size: 1rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    padding: 0rem 1rem;
    background-color: #444444;
    color: #fff;
}

input:hover
{
    background-color: #595959;
}

input::placeholder
{
    color: #969696;
}

.register-btn-div
{
    display: flex;
    justify-content: space-between;
}

.register-btn-div p
{
    color: #969696;
}

.reg-btn:hover
{
    text-decoration: underline;
}
