
header
{
    padding: 0% 2.5% 0% 2.5%;
    width: 95%;
    height: 4rem;
    background: #0e0e0e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

button
{
    font-size: 1.5rem;
    word-spacing: rem;
    padding: 0 2rem 0 2rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    background: #1f1f1f;
    transition: all 150ms ease-in-out;
    transition: cursor none;
}

button:hover
{
    border: 0.15rem solid #e4fffc;
    cursor: pointer;
}
